{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid p-6">
        <div class="row">
            <div class="col-6 bg-light p-3">
                When the madness of life’s daily grind surrounds you, it’s easy to lose sight of how magical life can be. This year we think it’s important to take some time to focus on yourself, and what’s really important. What better way to that, than to have experiences that will last a lifetime? That’s where live music steps in.            </div>
            <div class="col-6 bg-light p-4">
                Entertainment in Rwanda plays a vital role in promoting cultural expression, storytelling, and community engagement. It serves as a platform for showcasing local talent, celebrating Rwandan traditions, and fostering national unity. The country has a vibrant entertainment industry that includes music, dance, theater, film, and sports. Entertainment events and festivals are organized regularly, providing opportunities for artists to showcase their work and entertain audiences. Moreover, entertainment helps promote tourism, boosts the economy, and contributes to the overall well-being and enjoyment of the people in Rwanda.            </div>
        </div>
    <dir>
        <P>


        <p>.</p>


        </P>
    </dir>
    </div>
{% endblock %}